body{
    background-color: rgb(243, 243, 243);
}

.sliderPromo{
    height: 96%;
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.promo1, .promo2{
    position: relative;
    /* padding: 14px; */
    height: 96%;
    flex: 0 0 100%;
    width: 100%;
    background: blue;
    position: relative;
    border-radius: 44px;
    overflow: hidden;
}

.detallepromo{
    color: white;
    position: absolute;
    bottom: 20px;
    padding: 0 20px;
    background-color:   rgba(0, 0, 0, 0.244);
}

.precio{
    display: flex;
    align-items: center;
}

.price{
    font-size: 1.4em;
    color: lightskyblue;
}

.oldprice{
    margin-left: 10px;
    font-size: 1.1em;
    text-decoration: line-through;
    color: darkgray;
}

.op40{
    opacity: 0.4;
}

.tres_puntitos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-top: -5px;
}

.punto{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: skyblue;
}

.puntoGrande{
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color: dodgerblue;
}