.title{
    display: flex;
}
/* .bloques{
    padding: 10px 18px;
} */
.bloque{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}
.categorias{
    color: black;
}
.categorias2{
    color: darkgray;
}
.flecha{
    height: 20px;
    width: 20px;
}
.search{
    height: 20px;
    width: 20px;
}
.categories{
    padding: 0 14px 14px 14px
}
.material-icons-outlined{
    color: black;
}
h2,h3,h4{
    color: black;
}
.bloque1{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.holocomogalletas{
    margin-left: 170px;
}